@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Noto Sans TC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-dark: #282828;
  --color-light: #f6fbff;

  --color-dark-primary: #81d4f8;
  --color-dark-primary-700: #086b9c;
  --color-dark-primary-600: #0886c1;
  --color-dark-primary-500: #15a7e2;
  --color-dark-primary-400: #3ebef2;
  --color-dark-primary-200: #bce7fb;
  --color-dark-primary-100: #e1f2fd;

  --color-dark-white: #f0f9ff;
  --color-dark-secondary: #e8fe41;

  --color-light-primary: #3ebef2;
  --color-light-secondary: #f5b700;
  --color-light-white: #f0f9ff;
  --color-light-gray: #f2f2f2;

  --color-bg-main: var(--color-light);
  --color-text-main: var(--color-dark);
  --color-primary: var(--color-light-primary);
  --color-secondary: var(--color-light-secondary);
}

.dark {
  --color-bg-main: var(--color-dark);
  --color-text-main: var(--color-light);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    /* transition: all 0.3s ease; */
  }
}

@layer components {
  .btn-style {
    @apply cursor-pointer rounded-xl px-10 py-2.5 font-black outline-offset-1 transition-colors duration-300;
    &:hover {
      @apply shadow-2xl shadow-amber-300;
    }

    &:focus {
      @apply outline-3 outline-gray-400;
    }
  }

  .btn-primary-full {
    @apply bg-primary;
  }

  .btn-primary-outline {
    @apply border-4 text-text-main;
    &:hover {
      @apply bg-primary text-dark;
    }
  }
}
